$color_1: rgba(255, 255, 255, 0.692);
$color_2: white;
$color_3: hsla(0, 0%, 100%, 0.404);
$color_4: hsla(0, 0%, 100%, 0.61);
$color_5: hsl(224, 30%, 27%);
$color_6: hsla(224, 30%, 27%, 0.514);
$color_7: hsl(0, 100%, 67%);
$color_8: hsl(39, 100%, 56%);
$color_9: hsl(234, 85%, 45%);
$color_10: hsl(166, 100%, 37%);
$font-family_1: "Hanken Grotesk";
$background-color_1: hsl(217, 54%, 11%);
$background-color_1: rgba(0, 0, 0, 0.7);
$background-color_2: white;
$background-color_3: hsla(0, 100%, 67%, 0.068);
$background-color_4: hsl(166, 100%, 37%, 0.068);
$background-color_5: hsla(234, 85%, 45%, 0.068);
$background-color_6: hsl(39, 100%, 56%, 0.068);
$background-color_7: hsl(224, 30%, 27%);